<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title></title>
</head>
<body>
    <nav>
        <h1>KJQUEST</h1>
        <img src="../images/burger.png" id="burger" alt="burger">
    </nav>
    <div id="side-col">
        <div class="drawer"><span>Instructor Profile</span> <img id="dropt" src="../images/triangle.png" alt=""></div>
        <div>
            <p>Username:</p>
            <p><b>Ngobah</b></p>
            <p>Email:</p>
            <p><b>doacas@hotmail.com</b></p>
        </div>
    </div>
    <div id="main">
        <!-- Start of number-of-attempts board -->
        <div id="attmp">
            <span>Passed</span>
            <span>Failed</span>
            <div id="attempts">
                <div id="passed">
                    0
                </div>
                <div id="failed">
                    0
                </div>
            </div>
        </div>
        <!-- End of number-of-attempts board -->
        <!-- Start of score display board -->
        <div id="score">
            <span>Score</span>
            <div id="numscore">0</div>
        </div>
        <!-- End of score display board -->
        <!-- Start of question control buttons section -->
        <div id="butts">
            <button id="prev">Previous</button>
            <button id="next">Next</button>
        </div>
        <!-- End of question control buttons section -->
        <!-- Start of question display box -->
        <form action="" method="post">
        <div id="qstn">
            <span>Question</span>
            <div id="question">
                <div><input type="text" placeholder="type..."></div>    
            </div>
        </div>
        <!-- End of question display box -->
        <!-- Start of answer display section -->
        <div id="answ">
            <div class = "answer">
                <span id="A">A</span>
                <div><input type="text" name="optA" placeholder="type..."></div>  
            </div>
            <div class = "answer">
                <span id="B">B</span>
                <div><input type="text" name="optB" placeholder="type..."></div>  
            </div>
            <div class = "answer">
                <span id="C">C</span>
                <div><input type="text" name="optC" placeholder="type..."></div>  
            </div>
            <div class = "answer">
                <span id="D">D</span>
                <div><input type="text" name="optD" placeholder="type..."></div>  
            </div>
        </div>
        </form>
        <!-- End of answer display section -->
    </div>
</body>
</html>