<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>KJQUEST</h1>
        <img src="../images/burger.png" id="burger" alt="burger">
    </nav>
    <div id="login">
        <h2>Login as an Instructor</h2>
        <form action="http://127.0.0.1:3000/adminSubmit" method="post">
            <input type="text" name="userName" placeholder="Enter your name...">
            <input type="password" name="passWord" placeholder="Your password...">
            <button type="submit" onclick="">Submit</button>
        </form>

    </div>
</body>
</html>